.hedear{
	background: #094D74;
}
.nav__link:hover{
	color: red;
	
}
.container{
	margin: 0 auto;
	max-width:1140px ;
	padding: 0 20px;
	}

.container__header{
	display: flex;	
}
.logo{
	font-family: 'Trade Winds';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 70px;
text-align: center;
width: 300px;
margin-right: auto;

color: #EEF0F6;
}
.menu{
	margin: auto 0;
}
.nav__list{
	display: flex;
	
}

.nav__item{
	margin-left: 42px;
	list-style: none;
}
.nav__link{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;
text-decoration: none;
color: #EEF0F6;
}



.slon{
	background: #094D74;
}
.conatiner__slon{
	display: flex;
	
	padding-bottom: 10px;

}
.text__slon{
	
}
.tiger{
margin-right: auto;
}
.btn__slon{
	margin-bottom: 20px;
	width: 220px;
	padding: 7px 9px;
	background: lightcoral;
	border: none;
	filter: drop-shadow(0 0 1rem crimson);
}
.slon__right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	

}
.title__slon{
	
}

/*-------About------------*/
.about{
	background: #64ABD3;
}
.title__about{
	margin-top: 0;
	padding-top: 35px;
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
text-align: center;

color: #000000;
}
.text__about{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;

color: #727272;
max-width: 540px;
margin: 0 auto;
}
.content__about{
	display: flex;
	justify-content:space-between ;
align-items: center;
}
.bar{
background: #C4C4C4;
width: 445px;
height: 4px;
}
.list__about{
	padding-left: 0;
	list-style: none;
}
.sub{
	height: 100%;
	width: 80%;
	background: red;
}
.sub2{
	height: 100%;
	width: 50%;
	background: red;
}
.sub3{
	height: 100%;
	width: 60%;
	background: red;
}

/*----video----*/
.video{
	background: #094D74;
}
.video__title{
	
	margin-top: 0;
	padding-top: 100px;
	text-align: center;
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
text-align: center;
color: #000000;
padding-bottom: 50px;
}
.video__tybe{
	padding-bottom: 100px;
	height: 600px;
}


/*Галерея*/

.list__gal{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.item__gal{
	list-style: none;
	width: 25%;
	margin-bottom: -10px;
}
.img__gal{
	width: 100%;
}

/*Футер*/
footer{
	background: #094D74;
}
.container__foter{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.list__footer{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.soc{
	width: 40px;
	
}
.soc:last-child{
	
}
.item__foter{
	margin-right: 40px;
}
.item__foter:last-child{
	margin-right: 0;
}
.item__foter:hover{
	ba
}
.aroowUp{
	width: 80px;
	position: fixed;
	
	left: 0;
	right: 0;
	bottom: 0;
}
.burger{
	width: 60px;
	height: 50px;
	background: transparent;
	border: none;
	display: none;
}
.burger__line{
	background: black;
	width: 60px;
	height: 10px;
	margin-bottom: 10px;
}



@media (max-width:1060px) {
	.container__header{
		max-width: 834px;
	}
	.logo{
		font-size: 28px;
	}
	.nav__list{
		padding: 0;
	}
	.nav__link{
		font-size: 14px;
	}
	.nav__item{
		margin-left: 28px;
	}
	.conatiner__slon{
		justify-content: space-around;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tiger{
		margin-right: 0;
	}
	.title__slon{
		text-align: center;
	}
	.btn__slon{
		
		display: block;
		margin: 0 auto;
	}
	.img__about{
		width: 370px;
	}
}


@media (max-width:834px) {
	.container{
		max-width: 630px;
	}	

	.container__header{
		flex-direction: column;
	}
	.logo{
		text-align: center;
		margin: 0 auto;
	}
	.nav__link{
		font-size: 14px;
	}
	.nav__list{
		padding: 0;

	}
	.menu{
		margin: 0 auto;
	}
	.conatiner__slon{
		flex-direction: column;
	}
	.tiger{
		margin: 0 auto;
		display: block;
		padding-top: 30px;
	}
	.title__slon{
		text-align: center;
		margin: 0 auto;
		display: block;
	}
	.slon__right{
		margin: 0 auto;
		padding-top: 30px;
	}
	.btn__slon{
		margin:  30px auto;
		display: block;

	}
	.content__about{
		flex-direction: column-reverse;
	}
	.img__about{
		display: block;
		margin: 0 auto;
		margin-right: 150px;
	}
	.title__content{
		margin: 0 auto;
		text-align: center;
		padding-top: 30px;
	}
	.left__about{
		padding-bottom: 30px;
	}
	.video__title{
	margin: 0;
		padding: 30px 0;
	}
	.video__tybe{
		width: 100%;
		height: 400px
	}
	.item__gal{
		width: 50%;
	}
	



}

@media (max-width:450px){

.container{
	max-width: 360px;
}
.burger{
	display: block;
}

}